.ButtonSquare {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    border: 1px solid rgb(0, 0, 0);
}  
button {
    background-color: #4CAF50; 

    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
h1 {
    color: rgb(220, 55, 55);
    text-align: center;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 40px;
    text-decoration: underline;
}
body{
    background-color: #000000;
}
pre {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    /*move text up*/
    margin-top: -3px;
}
p {
    /*move text to bottom of the page*/
    margin-top: 400px;
    color: white;

}